:root{
    --kartyakhatterszine: white;
    --szovegszine: black;
    --atlatszohattervilagosm: rgba(0, 0, 0, 0.4);
}


.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;

}

body{
    text-align: center;
    background-image: url(empty-classroom_elementary-school-middle-school-high-school.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--szovegszine);
}

div{
    border: 1px solid var(--szovegszine);
   
}

#atlatszodiv{
    margin: 10px 40px;  
    padding: 30px 60px;
    background-color: transparent;
    background: var(--atlatszohattervilagosm);
}

header{
    font-size: 80px;
    font-weight: bold;
}

#cim{
    background-color: var(--kartyakhatterszine);
    padding-top: 35px;
    height: 45px;
    position:relative;
    width: 100%;
    text-align:center;
    line-height:40px;
}

#cim:after{
    content:"";
    position:absolute;
    height:0;
    width:0;
    left:100%;
    top:0;
    border: 40px solid transparent;
    border-left: 3.5rem solid var(--kartyakhatterszine);
}


.hknnapok{
    font-size: 20px;
    margin: 3%;
}
.hvnapok{
    font-size: 20px;
    margin: 3%;
}



.napok{
    font-size: 50px;
    font-weight: bold;
    background-color: var(--kartyakhatterszine);
    padding: 0px 15px; 
    margin: 0px 10px 15px 15px;
}

.orak{
    text-align: left;
    padding: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    background-color: var(--kartyakhatterszine);
    width: 60%;
    margin: 10px auto;

}

/* #DarkMode{
    background-image: url(cartoon-moon-icon.png.webp);
    background-repeat: no-repeat;
    cursor:pointer;
    border: none;

} */

/* .icon {
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    background-image: 126472.png;
    height: 30px;
    width: 30px;
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}

#closeBtn {
    font-size: 24px;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
} */